<h2 class="page-title">About</h2>
<p>
  Novelty is a simple book library application built with Node, Express and
  MongoDB.
</p>
<p>
  Users can create, view, update and delete authors and books, upload book
  covers and search for books available by name and publish date.
</p>

<h3>Guidelines For Use</h3>
<p>
  If you wish to test the functionality of the app, kindly create new authors
  and books to edit/delete at your will.
</p>
<p>
  All book covers are courtesy of the
  <a
    href="https://openlibrary.org/"
    target="_blank"
    style="text-decoration: none"
    >Open Library</a
  >
  Covers API
</p>
<br />
<p>Hassan Muhashamy &copy; 2019</p>
